html{
	scroll-behavior: smooth;
}
:target:before {
	content: "";
	display: block;
	height: 100px;
	margin: -100px 0 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	color: #999999;
	font-size: 18px;
}

ol {
	list-style-type:decimal;

}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #222222;
}
a, a:hover, a:focus, a:active{
	outline: none;
}

.section-padding{
	padding: 60px 0px;

}
h2 {
	line-height: 20px;
	margin: 0;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
}
hr.botm-line {
	height: 3px;
	width: 60px;
	background: #ffb737;
	position: relative;
	border: 0;
	margin: 20px 0 20px 0;
}

/***************************************
banner
***************************************/
.navbar {
	margin-bottom: 0px;
	border: 0px;
}
.navbar {
	border-radius: 0px;
}
.navbar-default {
	background-color: #fff;
	padding: 20px 0;
	transition: all 0.3s;
}
.navbar-default {
	background-color: transparent;
	border: 0px;
}
.navbar {
	border-radius: 0px;
}

.navbar-brand
{
	text-align: center;
	font-family: 'Chewy', cursive;
	font-size: 32px;
}

.navbar-brand img {
	padding-top: 2px;
	width: 120px !important;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #fafafa;
}

.dropdown .dropdown-menu{
	width: 100%;
	display: block;
	background-color: #E3E6DA;
	white-space: normal;
	opacity: 0;

	transition:         all 500ms ease;
}

.dropdown:hover .dropdown-menu {
	display: block;
	opacity: 1;
}

@media (max-width: 768px) {
	.navbar-collapse {
		background: rgba(28,74,90, 0.9);
	}
}

.top-nav-collapse {
	padding: 0;
	background: rgb(144, 176, 95);
}

.white, .white:hover, .white:focus
{
	color: #fff;
	width: 100% !important;
}
.block
{
	display: block;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #fff;
	text-transform: uppercase;
	background-color: #74923A;
}
.navbar-default .navbar-nav > li > a
{
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	color: #fff;
	text-transform: uppercase;
	background-color: rgb(130, 160, 87);
}
.affix {
	background-color: #ffffff !important;
}
.affix .navbar-nav > li > a:hover, .affix .navbar-nav > li > a:focus
{
	background-color: rgb(184, 12, 115) !important;
}
#banner{
	background: url('../img/bg-banner.jpg') no-repeat fixed;
	background-size: cover;
	min-height: 650px;
	position: relative;
}

#banner-other-page{
	background: url('../img/bg-banner.jpg') no-repeat fixed;
	background-size: cover;
	min-height: 300px;
	position: relative;
}
.bg-color{
	background-color: RGBA(173, 211, 117, 0.78);
	min-height: 650px;
}
.banner-info{
	padding-top: 190px;
}
.banner-logo img{
	display: inline-block;
}
.banner-text{
	color: #ffffff;
}
.banner-text h1{
	font-family: 'Candal', sans-serif;
	font-size: 35px;
	text-transform: uppercase;
	padding-bottom:15px;
}

.overlay-detail a i {
	text-align: center;
	position: center;
	margin-top: 240px;
	bottom: 25px;
	font-size: 100px;
	color: #fff;

}
.text-primary i{
	padding-top: 8px;
	display: inline-block;
}
/***************************************
services
***************************************/
.icon i{
	color: #315e26;
	font-size: 45px;
	margin-bottom: 25px;
}
.service-info{
	margin-bottom: 20px;
	height: 164px;
	width: 328px;
}
.icon-info h4{
	padding-bottom: 15px;
}
.icon-info p{
	font-size: 15px !important;
}

/***************************************
Urgent block
***************************************/
.urgent p{
	font-family: Raleway;
	font-size: 30px;
	line-height: 2;
	color: #FBFBFB;
	font-weight: bold;
	text-transform: uppercase;
}
.urgent{
	background-color: #a70000;
	width: 950px;
}

/***************************************
Tables
***************************************/
td p{
	font-family: Raleway;
	font-size: 14px;
}

/***************************************
Fun fact
***************************************/
#fun-facts {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: 1;
	padding-top: 80px;
	padding-bottom: 60px;
}
.fact-container {
	padding-top:40px;
	padding-bottom:30px;
}
.fact h2 {
	font-size: 65px;
	letter-spacing: 0px;
	margin: 0;
	line-height: 65px;
}
.fact h4 {
	font-size: 14px;
	margin-bottom: 0px;
}
.fact p {
	font-size: 13px;
	margin-top: 3px;
}
.counter {
	font-family: 'Exo', sans-serif;
	font-size: 65px;
	font-weight: 700;
	letter-spacing: 0px;
	margin: 0;
	line-height: 65px;
}
#fun-facts .lead {
	font-size: 16px;
}

/***************************************
Card layout
***************************************/
.card{
	transition: box-shadow .5s;
	border-radius:10px;
	margin: 10px;
	padding: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(130, 160, 87);
}

.card:hover{
	box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card_arw {
	-moz-animation: icon_anm 2s infinite;
	-webkit-animation: icon_anm 2s infinite;
	animation: icon_anm 2s infinite;
}

@keyframes icon_anm {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-5px);
	}
}


/***************************************
footer
***************************************/
#footer{
	background-color: rgb(144, 176, 95);
}

.footer-line {
	padding: 30px 0px;
	color: #fff;
}




